package tasks

import (
    "strconv"
)

templ Count(n int) {
    <span>
        {strconv.Itoa(n)} 
        if (n == 1) {
            task left 
        } else { 
            tasks lefts 
        }
    </span>
}