package tasks

import (
    "templ/models"
    "templ/components"
    )


templ List(tks models.Tasks) {
    @components.Application() {
        <div class="flex w-full pb-5">
            <h1 class="text-white tracking-wider font-semibold text-3xl">TODO</h1>
        </div>
        @New()
        @Table(tks)
    }
}