package tasks

import (
    "templ/models"
    )

templ Table(tks models.Tasks, currentRoute string){
    <div id="list" hx-get={currentRoute} hx-trigger="updateList" hx-swap="outerHTML">
        <div  class="flex flex-col rounded-t-lg w-full bg-slate-800 divide-y divide-gray-600 mt-5 overflow-auto max-h-[454px]"  >
            for index, item := range tks {
                @Item(item, index)
            }
        </div>
        @Nav(currentRoute)
    </div>
}