package tasks

import (
    "templ/models"
    )

templ Table(tks models.Tasks){
    <div id="list" class="flex flex-col rounded-lg w-full bg-slate-800 divide-y mt-5" hx-get="/" hx-trigger="updateList" hx-swap="outerHTML" >
        for _, item := range tks {
            @Item(item)
        }
    </div>
}