package users

import ("templ/models")


templ List(users []models.User) {
    <h1>Users</h1>

    <ul>
        for _, user := range users {
            <li>{ user.FirstName }</li>
        }
    </ul>
}